# Data Manipulation Studio

For this studio, we will revisit the data set from our last studio. If you recall, California farmers were looking for advice on growing pumpkins. We will use the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

A **terminal market** is a central site, often in a metropolitan area, that serves as an assembly and trading place for commodities. Terminal markets for agricultural commodities are usually at or near major transportation hubs. [Definition Source](https://en.wikipedia.org/wiki/Terminal_market#:~:text=A%20terminal%20market%20is%20a,or%20near%20major%20transportation%20hubs)

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [9]:
import os
print(os.getcwd())

/Users/chriswright/Documents/LC2/data-analysis-projects/data-manipulation/studio/data-manipulation-studio

In [10]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
import numpy as np
baltimore = pd.read_csv("dataset/baltimore_9-24-2016_9-30-2017.csv")
boston = pd.read_csv("dataset/boston_9-24-2016_9-30-2017.csv")
nyc = pd.read_csv("dataset/new-york_9-24-2016_9-30-2017.csv")
philadelphia = pd.read_csv("dataset/philadelphia_9-24-2016_9-30-2017.csv")

## Clean Your Data

In the last lesson, we cleaned the data related to San Francisco. Pull up your notebook from the last lesson and use it as a reference to clean up these new dataframes.

In [21]:
# Clean your data here!
""" baltimore.info()
baltimore.head()
baltimore.describe()
boston.info()
boston.head()
boston.describe()
nyc.info()
nyc.head()
nyc.describe()
philadelphia.info()
philadelphia.head()
philadelphia.describe() """

for df in [baltimore, boston, nyc, philadelphia]:
    df.columns = df.columns.str.strip()
    df.columns = df.columns.str.lower()
    df.columns = df.columns.str.replace(" ", "_")

for df in [baltimore, boston, nyc, philadelphia]:
    df.dropna (axis=1, how="all", inplace=True)

for df in [baltimore, boston, nyc, philadelphia]:
    df["date"] = pd.to_datetime(df["date"])


categorical_cols = baltimore.select_dtypes(include="object").columns
baltimore[categorical_cols] = baltimore[categorical_cols].fillna("Unknown")

categorical_cols = boston.select_dtypes(include="object").columns
boston[categorical_cols] = boston[categorical_cols].fillna("Unknown")

categorical_cols = nyc.select_dtypes(include="object").columns
nyc[categorical_cols] = nyc[categorical_cols].fillna("Unknown")

categorical_cols = philadelphia.select_dtypes(include="object").columns
philadelphia[categorical_cols] = philadelphia[categorical_cols].fillna("Unknown")

for df in [baltimore, boston, nyc, philadelphia]:
    df.drop_duplicates(inplace=True)

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [38]:
# Combine the four dataframes into one!
cities = [baltimore, boston, nyc, philadelphia]
northeast_df = pd.concat(cities, axis=0, ignore_index=True)


print(northeast_df)

    commodity_name     city_name             package      variety sub_variety  \
0         PUMPKINS     BALTIMORE        24 inch bins      Unknown     Unknown
1         PUMPKINS     BALTIMORE        24 inch bins      Unknown     Unknown
2         PUMPKINS     BALTIMORE        24 inch bins  HOWDEN TYPE     Unknown
3         PUMPKINS     BALTIMORE        24 inch bins  HOWDEN TYPE     Unknown
4         PUMPKINS     BALTIMORE        24 inch bins  HOWDEN TYPE     Unknown
..             ...           ...                 ...          ...         ...
669       PUMPKINS  PHILADELPHIA  1/2 bushel cartons    MINIATURE   FLAT TYPE
670       PUMPKINS  PHILADELPHIA  1/2 bushel cartons    MINIATURE   FLAT TYPE
671       PUMPKINS  PHILADELPHIA  1/2 bushel cartons    MINIATURE   FLAT TYPE
672       PUMPKINS  PHILADELPHIA  1/2 bushel cartons    MINIATURE   FLAT TYPE
673       PUMPKINS  PHILADELPHIA  1/2 bushel cartons    MINIATURE   FLAT TYPE

          date  low_price  high_price  mostly_low  mostly_high    origin  \
0   2017-04-29        270       280.0         270        280.0   Unknown
1   2017-05-06        270       280.0         270        280.0   Unknown
2   2016-09-24        160       160.0         160        160.0  DELAWARE
3   2016-09-24        160       160.0         160        160.0  VIRGINIA
4   2016-11-05         90       100.0          90        100.0  MARYLAND
..         ...        ...         ...         ...          ...       ...
669 2016-11-05         16        18.0          16         18.0      OHIO
670 2017-08-26         18        20.0          18         20.0  MICHIGAN
671 2017-09-16         16        16.0          16         16.0      OHIO
672 2017-09-23         15        16.0          15         16.0      OHIO
673 2017-09-30         15        18.0          15         18.0      OHIO

    item_size    color unit_of_sale repack origin_district
0         lge  Unknown      Unknown      E             NaN
1         lge  Unknown      Unknown      E             NaN
2         med  Unknown      Unknown      N             NaN
3         med  Unknown      Unknown      N             NaN
4         lge  Unknown      Unknown      N             NaN
..        ...      ...          ...    ...             ...
669   Unknown      NaN   SHELLACKED      N             NaN
670   Unknown      NaN   SHELLACKED      N             NaN
671   Unknown      NaN   SHELLACKED      N             NaN
672   Unknown      NaN   SHELLACKED      N             NaN
673   Unknown      NaN   SHELLACKED      N             NaN

[674 rows x 16 columns]

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of **unit of sale** in the Northeast region? 
2. For each region, what is the average number of pumpkins per variety that came into terminal markets for the year?

In [44]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.

mean_prices = northeast_df.groupby("unit_of_sale").agg(
    mean_low_price = ("low_price", "mean"),
    mean_high_price = ("high_price", "mean")
).reset_index()

print(mean_prices)

  unit_of_sale  mean_low_price  mean_high_price
0         EACH       47.916667        59.166667
1      PER BIN      185.845070       206.619718
2   SHELLACKED       16.000000        17.545455
3      Unknown      133.660211       150.122359

In [50]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.
avg_pumpkins = northeast_df.groupby("variety").size().reset_index(name="count")
print(avg_pumpkins)

                     variety  count
0              BIG MACK TYPE     55
1                  BLUE TYPE      7
2                 CINDERELLA     39
3                  FAIRYTALE     37
4                HOWDEN TYPE    224
5          HOWDEN WHITE TYPE      2
6               KNUCKLE HEAD      9
7                  MINIATURE     97
8   MIXED HEIRLOOM VARIETIES      4
9                   PIE TYPE    198
10                   Unknown      2

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [15]:
# Try the bonus mission if you have time!